#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: white;
    height: 100vh;
    background-image:
        url(media/codigo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero h1 {
    color: white;
}

.color-principal {
    color: rgb(41, 187, 123);
}